@import url('https://fonts.googleapis.com/css?family=Roboto');

.vertical-align {
	display: flex;
	align-items: center;
}

.header {
	margin-top: 1em;
}

h1 {
	font-family: 'Roboto', sans-serif;
	text-transform: lowercase;
	font-size: 4rem;
	white-space: nowrap;
	overflow: hidden;
}

h2 {
	font-family: 'Roboto', sans-serif;
}

h3,
h5,
p {
	display: inline;
}

.topics {
	margin-top: 3em;
}

.topic_title {
	margin-top: 20px;
	margin-bottom: 2px;
}

.post_title {
	margin-right: 20px;
}

.thumbpic {
	margin-left: 10px;
	margin-right: 10px;
}

#topic-add {
	text-align: center;
}

#topic-add a {
	opacity: 0.5;
	transition: 0.3s;
}

#topic-add a:hover {
	opacity: 1;
}

footer {
	margin-left: 1rem;
}