{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Custom css -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">

        <title>Forum</title>
    </head>
    <body>
        

        <div class="">
                <div class="">
                    <a href ="{% url 'forum-index' %}"><i class="fas fa-comments fa-3x home-btn"></i></a>
                </div>
                {% if user.is_authenticated %}
                    <div class="">
                        <a href="{% url 'logout' %}"><h3>log out</h3></a>
                    </div>
                    <div class="">
                            <a href="{% url 'profile' username=user.username %}"><img class="thumbpic" src="{{ user.profile.image.url }}" height="50"></a>
                            
                        </div>
                {% else %}
                    <div class="">
                        <a href="{% url 'login' %}"><h3>log in</h3></a>
                    </div>
                    <div class="">
                        <a href="{% url 'registration' %}"><h3>register</h3></a>
                    </div>
                {% endif %}
            </div>
        <div class="">
            {% block content %}{% endblock %}
        </div>

    </body>

    <footer>
        
    </footer>

</html>