{% extends "forum/base.html" %}
{% block content %}
    <div class="">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="">
                <legend class="">Delete Post</legend>
                <h2>Are you sure you want to delete the post "{{ object.title }}"</h2>
            </fieldset>
            <div class="">
                <button class="" type="submit">Yes, Delete</button>
                <a class="" href="{% url 'post-detail' object.id %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}