{% extends "forum/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="">
        <div class="">
                <h1 id="header">{{ object.title }}</h1>
        </div>
    </div>

    <div class="">
        
        {% if object.author == user %}
            <div class="">
                <a class="" href="{% url 'post-update' object.id %}">edit</a>
                <a class="" href="{% url 'post-delete' object.id %}">delete</a>
            </div>
        {% endif %}
    </div>

    <div class="">
        <div class="">
            <a href="{% url 'profile' username=object.author.profile.user.username %}">
                <img class="thumbpic" src="{{ object.author.profile.image.url }}" height="50">
            </a>
        </div>

        <div class="">
            <h5>{{ object.body }}<h5>
        </div>
    </div>

    <div class="">
        <hr class="">
    </div>

    {% for comment in comments %}
        <div class="">
            <div class="">
                <a href="{% url 'profile' username=comment.author.profile.user.username %}">
                    <img class="thumbpic" src="{{ comment.author.profile.image.url }}" height="50">
                </a>
            </div>
            <div class="">
                <h5>{{ comment.body }}<h5>
            </div>
        </div>
    {% endfor %}

    <div class="">
        <div class="">
            <img class="thumbpic" src="{{ user.profile.image.url }}" height="50">
        </div>

        <div class="">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="">
                    {{ form|crispy }}
                </fieldset>
                <div class="">
                    <button class="" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
    
    <script>
        document.getElementById("div_id_author").style.display="none"
        document.getElementById("div_id_post").style.display="none"
        document.getElementById("div_id_body").getElementsByTagName('label')[0].style.display="none"
    </script>
{% endblock content %} 