@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    
}

.vertical-align {
    display: flex;
    align-items: center;
}

.header {
    margin-top: 1em;
}

@keyframes typing { from { width: 0; } }
@keyframes blink-caret { 50% { border-color: transparent; } }
h1 {
    font-family: 'Roboto', sans-serif;
    text-transform: lowercase;
    font-size: 4rem;
    border-right: .1em solid;
	width: 6ch; /* # of chars */
	white-space: nowrap;
	overflow: hidden;
    animation: typing 0.8s steps(6, end), /* # of steps = # of chars */
    blink-caret .5s step-end 0s alternate;
}

h2 {
    font-family: 'Roboto', sans-serif;
}

h3,h5,p {
    display: inline;
}

.topics {
    margin-top: 3em;
}

.topic_title {
    margin-top:20px;
    margin-bottom:2px;
}

.post_title {
    margin-right: 20px;
}

.thumbpic {
    margin-left: 10px;
    margin-right: 10px;
}

.btn {
    border-radius: 0 !important;
}

#theme-wrapper {
    position: fixed; 
    bottom: 0%;
}

footer {
    margin-left: 1rem;
}

select#theme {
    padding: .1rem .5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #ffffff00;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}