{% extends "forum/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="">
        <div class="">
            <h1 id="header">{{ user.username }}</h1>
        </div>
    </div>

    <div class="">
        <div class="">
            <img class="account-img" src="{{ user.profile.image.url }}" height="200">
        </div>
    </div>

    {% if user == request.user %}
    <div class="">
        <div class="">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="">
                    {{ u_form|crispy }}
                    {{ p_form|crispy }}
                </fieldset>
                <div class="">
                    <button class="" type="submit">Update</button>
                </div>
            </form>
        </div>
    </div>

    {% else %}
    <div class="">
        <div class="">
            <p>{{ user.profile.about }}</p>
        </div>
    </div>

    {% endif %}

    {% if posts %}
    
        <div class=" ">
            <div class="">
                <h2>user posts</h2>
            </div>
        </div>

        {% for post in posts %}
            <div class="">
                <div class="c">
                    <img class="thumbpic" src="{{ post.author.profile.image.url }}" height="50">
                </div>
                <div class="">
                    <a href="{% url 'post-detail' post.id %}">{{ post.title }}</a>
                    <br />
                    <p>{{ post.body }}</p>
                </div>
            </div>
            <hr>
        {% endfor %}

    {% endif %}

{% endblock content %}